<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список Книг</title>
</head>
<body>
<div>Список книг</div>
<div th:each="book: ${books}">
    <div>
        <b th:text="${book.id}"></b>
        <span th:text="${book.name}"></span>
        <b th:text="${book.yearOfBirth}"></b>
    </div>
</div>


<a href="/books/add">Добавить новую книгу</a>
<br>
<a href="/people">Список читателей</a>

<form method="post" th:action="@{books/deleteAll}">
    <button type="submit">Delete All</button>
</form>
</body>
</html>