<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список Книг</title>
</head>
<body>
<div>Список книг</div>
<div th:each="book: ${books}">
    <a th:href="@{/books/{id}(id=${book.id})}"
       th:text="${book.getId() + ', ' + book.getName() + ', ' + book.getYearOfBirth()}">
    </a>
</div>
<a href="/books/add">Добавить новую книгу</a>
<br>
<a href="/people">Список читателей</a>

<form method="post" th:action="@{books/deleteAll}">
    <button type="submit">Удалить всё</button>
</form>
</body>
</html>