<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
    <form th:method="post" th:action="@{/books/{id}/edit(id=${book.getId()})}" th:object="${book}">
        <label for="name">Enter name</label>
        <input type="text" th:field="*{name}" id="name"/>

        <label for="yearOfBirth">Enter yearOfBirth</label>
        <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
        <input type="submit" value="Update"/>
    </form>
</body>
</html>