<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список читателей</title>
</head>
<body>
<div>Список читателей</div>
<div th:each="person: ${people}">
    <a th:href="@{/people/{id}(id=${person.id})}"
       th:text="${person.getId() + ', ' + person.getName() + ', ' + person.getAge()}">
    </a>
</div>

<a href="/people/add">Добавить нового пользователя</a>
<br>
<a href="/books">Список книг</a>

<form method="post" th:action="@{people/deleteAll}">
    <button type="submit">Удалить всех</button>
</form>

</body>
</html>